<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->

    <style>
        table, th, td{
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>
<body>

    <form action="/book" method="post">
        <label for="userName">Username:</label><input type="text" id="userName" name="userName">
        <br><br>
        <label for="phoneNumber">Phone Number:</label><input type="number" id="phoneNumber" name="phoneNumber">
        <br><br>
        <label for="emailId">Email Address:</label><input type="email" id="emailId" name="emailId">
        <br><br>
        <label for="ticketQuantity">Number of Tickets:</label><input type="number" id="ticketQuantity" name="ticketQuantity" value="1" max="5" min="1">
        <br><br>

    <table>
        <tr>
            <th>Bus Number</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Arrival Time</th>
            <th>Remaining Seats</th>
            <th>Bus Fare</th>
            <th>Book Ticket</th>
        </tr>
        {% for var in busInfo %}
        <tr>
            <td>{{var.busNumber}}</td>
            <td>{{var.busSource}}</td>
            <td>{{var.busDestination}}</td>
            <td>{{var.arrivalTime}}</td>
            <td>{{var.remainingSeats}}</td>
            <td>{{var.fare}}</td>
            {% if var.remainingSeats>0 %}
            <td><button value="{{var.busNumber}}">Book Ticket</button></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</form>

    
</body>
</html>